.title-header {
  background-color: pink;
  margin-bottom: 50px;
}

.essay-container {
  background-color: lightgrey;
  margin-top: 100px;
}

.intro-parent {
  background-color: cornflowerblue;
}

.body-parent {
  background-color: lightsalmon;
}

.conclusion-parent {
  background-color: darkseagreen;
}

#intro-text {
  color: white;
}

#body-text {
  color: grey;
}

#conclusion-text {
  color: darkblue;
}

#emphasis {
  color: red;
  display: block;
}

#emph {
  color: red;
  display: inline-block;
}







